@import url(main.css);

#tri {
  width: 98%;
  height: 75px;
  
  text-align: right;
}

#tri select {
  padding: 10px;
  width: 250px;
  border: 1px solid var(--coul-bords);
  text-transform: uppercase; 
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 200px;
  margin: 0px 5px;
  padding: 10px;
}

article:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 40px #bbb;
}

article .selection_montre, article:hover .prix_montre {
  display: none;
}

article:hover .selection_montre {
  display: contents;
}

article img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

article .marque_montre, article .nom_montre, article .refs_montre {
  color: var(--coul-textalt);
}

article .marque_montre {
  font-weight: bold;
}

article .selection_montre a {
  font-size: 0.6rem;
  border-bottom: 1px solid #aaa;
}

article .selection_montre a:hover {
  border-bottom-color: black;
}

article .selection_montre :first-child {
  margin-right: 8px;
}

/* responsive design */
@media (max-width: 890px) {
  #tri {
    height: 55px;
  }
}

@media (max-width: 670px) {
  #tri {
    text-align: center;
  }
  #tri select {
    width: 90%;
  }
}