/* icones */
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* police */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* couleurs */
:root {
    --coul-bords: #ddd;
    --coul-textalt: #555;
}

/* mise en forme générale */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* barre de recherche et d'options */
header {
    height: 60px;
    padding: 10px 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    width: 150px;
}

header #logo img {
    height: 40px;
}

header fieldset {
    border: 0px;
    padding: 0px;
    align-items: center;
    --hauteur-recherche: 40px;
}

header fieldset input {
    width: 400px;
    height: var(--hauteur-recherche);
    padding: 0px 15px;
    border: 1px solid var(--coul-bords);
}

header fieldset input[placeholder] {
    color: gray;
}

header fieldset button {
    width: 80px;
    height: var(--hauteur-recherche);
    border: 0px;
    position: relative;
    left: -5px;
    background-color: black;
    color: white;
}

header fieldset button:hover {
    cursor: pointer;
}

header ul li {
    list-style: none;
    display: inline;
    margin: 0px 5px;
}

#panier {
    margin-left: 15px;
}

#panier i {
    font-size: 1.3rem;
}

#panier span {
    position: relative;
    bottom: 11px;
    left: 1px;
}

#hamburger_menu {
    font-size: 1.5rem;
    display: none;
    margin-left: 20px;
}

/* barre de navigation */
nav {
    border: 1px solid var(--coul-bords);
    padding: 10px 20px;
    text-transform: uppercase;
    
    display: flex;
    justify-content: space-between;
}

nav ul, nav p {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    color: var(--coul-textalt);
}

/* contenu de la page */
main {
    padding: 15px 0px;
    background-image: linear-gradient(var(--coul-bords), white 10px);
}

/* responsive design */
@media (max-width: 890px) {
    header {
        height: 45px;
    }
    #profil, header fieldset, nav {
        display: none;
    }
    #hamburger_menu {
        display: inline;
    }
    header #logo {
        width: auto;
    }
}

@media (max-width: 340px) {
    #langue, #devise {
        display: none;
    }
}